body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button{margin:0;padding:0}
body{/*font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;*/line-height:1.5;font-size:14px;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-size-adjust:none;outline:none; background-color:#fff;}
html, button, input, select, textarea {
    font-family: 'hiraginosansgb w3','Helvetica Neue',Helvetica,'microsoft yahei',Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li{list-style:none}
input,textarea,select{border: 0;
    padding: 0;font-family:inherit;font-size:inherit;font-weight:inherit}
button,input[type="submit"]{border:none;background:none;appearance:none;outline:none}
input,textarea,select { outline: none}
a{touch-callout:none;text-decoration:none}
i,em{font-style:normal}
html,body{width:100%;height:100%}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

*{ margin:0; padding:0;  box-sizing: border-box; -webkit-box-sizing: border-box;}
html, body { height:100%; font-size:12px; -webkit-text-size-adjust:none;}
i {font-style: normal;}


input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
button,input[type="submit"]{border:none;background:none;appearance:none;outline:none}
input,textarea  {border:none;background:none;appearance:none;outline:none}
a {touch-callout:none;text-decoration:none;}
textarea {resize:none}
button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner{
    border: 0;
    padding: 0;

}
.ovfl { overflow: hidden}
.ovfl-ellipsis{ text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

::-webkit-input-placeholder { color: #999}
:-moz-placeholder  { color: #999}
::-moz-placeholder { color: #999}
:-ms-input-placeholder { color: #999}
/*公共样式*/

* { box-sizing: border-box}
.h0 {height: 0; line-height:0; font-size:0;}
.ov-ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}
.t-nowrap{ white-space: nowrap;}
.select-not {-moz-user-select: none;-webkit-user-select: none; -ms-user-select: none;user-select: none;}
.text-over { overflow:hidden; text-indent:99999px; line-height:99999; display:block;}
.line-through {text-decoration: line-through}
/*浮动*/
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

.fl { float:left;}
.fr { float:right;}
.font-b {font-weight: bold;}
.font-notb {font-weight:normal;}
.font-thro{text-decoration: line-through;}
/*鼠标*/
.cur{cursor: pointer;}
.cur-none{cursor:not-allowed;}
.cur-move{cursor:move;}
/*隐藏 定位*/
.ovfl{overflow: hidden;}
.visib{visibility: hidden;}
.dis-blo{ display: block;}
.dis-no { display:none;}
.dis-ib { display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.p-fix{position: fixed;}
.p-rel{position: relative;}
.p-abs{position: absolute;}
/*角边框*/

/*flex*/

.dis-flex{
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

@media only screen and (min-width:280px){
    body{font-size:10px!important}
}
@media only screen and (min-width:320px){
    body{font-size:12px!important}
}
@media only screen and (min-width:380px){
    body{font-size:14px!important}
}
@media only screen and (min-width:480px){
    body{font-size:16px!important}
}