@import "icon";
@import "btn";



#app,.wrapper,html,body{
  width: 100%;
  height: 100%;
}
html,body,p,ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}


.flexBox{
  display: flex;
}
.flexCol{
  flex-direction: column;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.flex3{
  flex: 3;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.autoBox{
  overflow: auto;
}
.text-center{
    text-align: center;
}
.initInput{
  outline: none;
  border: none;
}

.modelPadding{
  padding: 60px 20px;
  box-sizing: border-box;
}

.bgred{
    background: red;
}
.bgBlack{
    background: black;
}
.colorWhite{
    color: white;
}
.colorRed{
    color: red;
}
.border{
    border: 1px solid #CCCCCC;
}
.height150{
    height: 150px;
}
.height200{
    height: 200px;
}


.margin-top20{
    margin-top: 20px;
}
