@import "icon";
@import "btn";
@import "fontSize";
#app,.wrapper,html,body{
  width: 100%;
  height: 100%;
}
html,body,p,ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}


.flexBox{
  display: flex;
}
.flexCol{
  flex-direction: column;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.flex3{
  flex: 3;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.colCenter{
  display: flex;
  align-items: center;
}
.flexColBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.autoBox{
  overflow: auto;
}
.text-center{
    text-align: center;
}
.initInput{
  outline: none;
  border: none;
}

.modelPadding{
  padding: 60px 20px;
  box-sizing: border-box;
}
.boxSizing{
  box-sizing: border-box;
}

.bgred{
    background: red;
}
.bgGrey{
    background: grey;
}
.bgNote{
    background: #dddddd;
}
.bgBlack{
    background: black;
}
.bgWhite{
    background: #fff;
}
.colorWhite{
    color: white;
}
.colorRed{
    color: red;
}
.colorNote{
  color: #999999;
}
.border{
    border: 1px solid #CCCCCC;
}
.height100{
  height: 100px;
}
.height150{
    height: 150px;
}
.height200{
    height: 200px;
}


.margin-top20{
    margin-top: 20px;
}
.margin-left20{
  margin-left: 20px;
}
.margin{
  margin: 10px;
}
.margin5{
  margin: 5px;
}
.padding{
  padding: 10px;
}
.padding-left{
  padding-left: 10px;
}
.padding-right{
  padding-right: 10px;
}
.border-bottom{
  border-bottom: 1px solid #CCCCCC;
}


.imgDefault{
  width: 100%;
  height: 100%;
}
