
.inputContainer{
  width: 200px;
  height: 50px;
  padding: 1px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  input{
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
  }
}
.icon{
  width: 30px;
  height: 30px;
}
.iconTitle{
  width: 60px;
  height: 60px;
}
.inputDefault{
    outline: none;
    border: none;
}


.tips{
  color: red;
}
